:root {
    --page-width: 29.7cm;
    --page-height: 20.95cm;
    --page-padding: 0.5cm;

    --default-color: rgb(192, 192, 192);
    --default-border-color: rgb(83, 83, 83);
    --archer-color: rgb(0, 153, 82);
    --archer-border-color: rgb(2, 112, 51);
    --knight-color: rgb(194, 120, 25);
    --knight-border-color: rgb(139, 68, 9);
    --wizard-color: rgb(126, 61, 231);
    --wizard-border-color: rgb(93, 37, 182);
    --dragon-color: rgb(75, 185, 65);
    --dragon-border-color: rgb(60, 146, 52);

    --castle-color: rgb(150, 0, 0);
    --castle-border-color: rgb(110, 0, 0);
    --hall-color: rgb(220, 140, 250);
    --hall-border-color: rgb(180, 100, 210);
    --barracks-color: rgb(241, 96, 0);
    --barracks-border-color: rgb(184, 68, 0);
    --wheat-color: rgb(240, 201, 30);
    --wheat-border-color: rgb(206, 167, 38);
    --station-color: rgb(0, 130, 153);
    --station-border-color: rgb(0, 84, 90);
    --port-color: rgb(69, 178, 221);
    --port-border-color: rgb(5, 144, 199);
    --moai-color: rgb(146, 149, 170);
    --moai-border-color: rgb(84, 84, 105);
    --tree-color: rgb(63, 172, 0);
    --tree-border-color: rgb(14, 124, 0);
    --cemetery-color: rgb(150, 214, 240);
    --cemetery-border-color: rgb(76, 176, 216);

    --attack-color: rgb(131, 131, 131);
    --attack-border-color: rgb(61, 61, 61);
}

body {
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: sans-serif;
}

.page {
    width: calc(var(--page-width) - 2 * var(--page-padding));
    height: calc(var(--page-height) - 2 * var(--page-padding));
    padding: var(--page-padding);
    border: 1px solid black;
    break-after: always;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}