body {
    margin: 0.5cm;
}

h1 {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1cm);
}

footer p {
    text-align: center;
    font-size: small;
}