:root {
    --pawn-size: 1.20cm;
    --pawn-font-size: 0.5cm;
    --pawn-border-width: 0.25cm;
}

.pawn {
    width: calc(var(--pawn-size) - 2 * var(--pawn-border-width));
    height: calc(var(--pawn-size) - 2 * var(--pawn-border-width));
    background-color: var(--default-color);
    border: var(--pawn-border-width) solid var(--default-border-color);
    border-radius: var(--pawn-border-width);
    line-height: calc(var(--pawn-size) - 2 * var(--pawn-border-width));
    text-align: center;
    font-size: var(--pawn-font-size);
    font-weight: bold;
}

.archer {
    background-color: var(--archer-color);
    border-color: var(--archer-border-color);
}

.knight {
    background-color: var(--knight-color);
    border-color: var(--knight-border-color);
    width: calc(var(--pawn-size) * 2 - 2 * var(--pawn-border-width));
}

.wizard {
    background-color: var(--wizard-color);
    border-color: var(--wizard-border-color);
    width: calc(var(--pawn-size) * 3 - 2 * var(--pawn-border-width));
}

.dragon {
    background-color: var(--dragon-color);
    border-color: var(--dragon-border-color);
    width: calc(var(--pawn-size) * 2 - 2 * var(--pawn-border-width));
    height: calc(var(--pawn-size) * 2 - 2 * var(--pawn-border-width));
    line-height: calc(var(--pawn-size) * 2 - 2 * var(--pawn-border-width));
    font-size: calc(var(--pawn-font-size) * 1.75);
}