:root {
    --page-padding: 0cm;
}

.column {
    box-sizing: border-box;
    height: var(--page-height);
    width: calc(var(--page-width) / 3);
    border-right: 1px solid black;
    padding: 1cm;
}
.column:last-child {
    border-right: 0;
}

h1, h2 {
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: small;
    text-align: center;
}

dt {
    font-weight: bold;
}