:root {
    --card-outer-border-color: rgb(105, 105, 105);
    --card-inner-color: rgb(185, 185, 185);
    --card-lower-stripe-text-color: rgb(199, 199, 199);
    --card-lower-stripe-color: rgb(58, 58, 58);

    --card-width: 5.9cm;
    --card-height: 8.6cm;
    --card-outer-border-width: 0.25cm;
    --lower-stripe-height: 2cm;

    --single-circle-size: 3cm;
    --double-circle-size: 2.5cm;
    --triple-circle-size: 2cm;
    --quadruple-circle-size: 2cm;

    --wheat-circle-color: rgb(240, 184, 33);
    --wheat-circle-border-color: rgb(194, 145, 11);
    --hall-circle-color: rgb(201, 179, 241);
    --hall-circle-border-color: rgb(141, 108, 202);
    --barracks-circle-color: rgb(238, 152, 102);
    --barracks-circle-border-color: rgb(218, 85, 51);
    --harbor-circle-color: rgb(95, 176, 207);
    --harbor-circle-border-color: rgb(68, 119, 196);
    --attack-circle-color: rgb(133, 133, 133);
    --attack-circle-border-color: rgb(66, 66, 66);
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
    page-break-after: always;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    margin: 0.25cm;
    background-color: var(--card-inner-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.reverse {
    background-color: var(--card-outer-border-color);
}
.reverse::after {
    content: "🗺️";
    font-size: 3cm;
}

.second::after {
    display: block;
    content: "❗";
    position: absolute;
    top: 0;
    left: 0;
}

.card::before {
    display: block;
    content: "";
    position: absolute;
    width: calc(var(--card-width) + 2 * var(--card-outer-border-width));
    height: calc(var(--card-height) + 2 * var(--card-outer-border-width));
    top: calc(-1 * var(--card-outer-border-width));
    left: calc(-1 * var(--card-outer-border-width));
    border-radius: 0.125cm;
    background-color: var(--card-outer-border-color);
    z-index: -1;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--lower-stripe-height);
    background-color: var(--card-lower-stripe-color);
    color: var(--card-lower-stripe-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.single {
    flex-direction: column;
}

.double {
    flex-direction: column;
}

.triple {
    flex-direction: row;
}

.quadruple {
    flex-direction: row;
}

.circle::after {
    display: block;
    border: 0.25cm solid var(--card-lower-stripe-color);
    background-color: var(--card-outer-border-color);
    text-align: center;
}

.circle.plus::before {
    content: "➕";
    display: block;
    position: absolute;
    font-size: 0.75cm;
}

.single .circle::after {
    width: var(--single-circle-size);
    height: var(--single-circle-size);
    border-radius: var(--single-circle-size);
    font-size: calc(var(--single-circle-size) / 2);
    line-height: var(--single-circle-size);
}
.single .circle:nth-child(1) {
    margin-bottom: var(--lower-stripe-height);
}

.double .circle::after {
    width: var(--double-circle-size);
    height: var(--double-circle-size);
    border-radius: var(--double-circle-size);
    font-size: calc(var(--double-circle-size) / 2);
    line-height: var(--double-circle-size);
}
.double .circle:nth-child(2) {
    margin-bottom: var(--lower-stripe-height);
}

.triple .circle::after {
    width: var(--triple-circle-size);
    height: var(--triple-circle-size);
    border-radius: var(--triple-circle-size);
    font-size: calc(var(--triple-circle-size) / 2);
    line-height: var(--triple-circle-size);
}
.triple .circle:nth-child(3) {
    margin-bottom: var(--lower-stripe-height);
}

.quadruple .circle::after {
    width: var(--quadruple-circle-size);
    height: var(--quadruple-circle-size);
    border-radius: var(--quadruple-circle-size);
    font-size: calc(var(--quadruple-circle-size) / 2);
    line-height: var(--quadruple-circle-size);
}
.quadruple .circle:nth-child(3) {
    margin-bottom: var(--lower-stripe-height);
}
.quadruple .circle:nth-child(4) {
    margin-bottom: var(--lower-stripe-height);
}

.wheat.circle::after {
    content: "🌾";
    background-color: var(--wheat-circle-color);
    border-color: var(--wheat-circle-border-color);
}

.hall.circle::after {
    content: "🏛️";
    background-color: var(--hall-circle-color);
    border-color: var(--hall-circle-border-color);
}

.barracks.circle::after {
    content: "⚔️";
    background-color: var(--barracks-circle-color);
    border-color: var(--barracks-circle-border-color);
}

.harbor.circle::after {
    content: "🚢";
    background-color: var(--harbor-circle-color);
    border-color: var(--harbor-circle-border-color);
}

.attack.circle::after {
    content: "👊🏼";
    background-color: var(--attack-circle-color);
    border-color: var(--attack-circle-border-color);
}
