:root {
    --card-outer-border-color: rgb(105, 105, 105);
    --card-inner-color: rgb(185, 185, 185);
    --card-lower-stripe-text-color: rgb(199, 199, 199);
    --card-lower-stripe-color: rgb(58, 58, 58);
    font-family: sans-serif;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
   }
}

body {
    margin: 0;
}

.circle-container .single {
    background-color: var(--card-inner-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5cm;
}

.circle-container .circle {
    margin: 0.5cm;
}

.card-container {
    padding: 0.5cm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0.5cm;
    height: 9.6cm;
    width: 6.4cm;
    border-radius: 0.1cm;
    background-color: var(--card-outer-border-color);
    box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.5);
    padding: 0.25cm;
}

.inner-card {
    background-color: var(--card-inner-color);
    height: calc(100% - 2cm);
}

.inner-card.single {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-card.double {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inner-card.triple {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.inner-card.quadruple {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.circle {
    text-align: center;
    background-color: var(--card-outer-border-color);
    border-color: var(--card-lower-stripe-color);
}

.single .circle {
    font-size: 1.5cm;
    width: 3cm;
    height: 3cm;
    border-radius: 2cm;
    line-height: 3cm;
}

.double .circle {
    font-size: 1.2cm;
    width: 2.5cm;
    height: 2.5cm;
    border-radius: 2cm;
    line-height: 2.5cm;
}

.triple .circle {
    font-size: 1cm;
    width: 2cm;
    height: 2cm;
    border-radius: 2cm;
    line-height: 2cm;
}

.quadruple .circle {
    font-size: 1cm;
    width: 2cm;
    height: 2cm;
    border-radius: 2cm;
    line-height: 2cm;
}

.plus {
    position: relative;
}

.plus::before {
    content: "➕";
    font-size: 0.75cm;
    position: absolute;
    display: block;
    top: -0.7cm;
    left: -0.5cm;
}

.lower-card-stripe {
    height: 2cm;
    text-align: center;
    background-color: var(--card-lower-stripe-color);
    color: var(--card-lower-stripe-text-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wheat-field {
    border: 0.25cm solid rgb(209, 165, 18);
    background-color: rgb(231, 195, 78);
}

.city-hall {
    border: 0.25cm solid rgb(129, 147, 185);
    background-color: rgb(170, 185, 233);
}

.barracks {
    border: 0.25cm solid rgb(206, 56, 11);
    background-color: rgb(233, 131, 106);
}

.harbor {
    border: 0.25cm solid rgb(11, 177, 206);
    background-color: rgb(106, 203, 233);
}

.attack {
    border: 0.25cm solid rgb(39, 39, 39);
    background-color: rgb(105, 105, 105);
}

.building-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--card-inner-color);
    padding: 0.5cm;
}

.building {
    height: 8cm;
    width: 4.8cm;
    background-color: var(--card-outer-border-color);
    position: relative;
    left: 2cm;
    box-sizing: border-box;
    margin: 0.5cm;
}
.building::before, .building::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    border-top: 4cm solid transparent;
    border-bottom: 150px solid transparent;
}
.building::before {
    left: -2cm;
    border-right: 2cm solid var(--card-outer-border-color);
}
.building::after {
    right: -2cm;
    border-left: 2cm solid var(--card-outer-border-color);
}

.building.wheat {
    background-color: rgb(209, 165, 18);
}
.building::before {
    border-right: 2cm solid rgb(209, 165, 18);
}
.building::after {
    border-left: 2cm solid rgb(209, 165, 18);
}

.inner-building {
    background-color: var(--card-inner-color);
    height: 5cm;
    width: 4.8cm;
}

.lower-building-stripe {
    border-top: 2cm solid var(--card-lower-stripe-color);
    border-left: 1cm solid transparent;
    border-right: 1cm solid transparent;
    width: 4.77cm;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -1cm;
}

.wheat .inner-building {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: rgb(209, 165, 18);
    padding: 0.6cm 0 0.4cm 0;
}

.unit-space {
    border: 0.125cm solid var(--card-outer-border-color);
    background-color: rgb(231, 195, 78);
    height: 1.2cm;
    width: 1.2cm;
    border-radius: 1.2cm;
    text-align: center;
    line-height: 1.2cm;
    margin: 0.0625cm;
}

.empty-space {
    border: 0.125cm solid transparent;
    height: 1.2cm;
    width: 1.2cm;
    margin: 0.0625cm;
}