:root {
  --palette-color-1: rgb(0, 0, 0);
  --palette-color-2: rgb(117, 117, 117);
  --palette-color-3: rgb(77, 77, 77);
  --palette-color-4: rgb(175, 175, 175);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-color-3);
}

main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--palette-color-2);
  border: 4px solid var(--palette-color-1);
  box-shadow: 0 0 10px black;
}

canvas {
  width: 75vmin;
  height: 75vmin;
  border: 4px solid var(--palette-color-1);
  background-color: var(--palette-color-3);
}

button {
  margin-top: 1em;
  border: 4px solid var(--palette-color-1);
  padding: 0;
  height: 2em;
  width: 10em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large;
  color: var(--palette-color-1);
  background-color: var(--palette-color-4);
}

button:active {
  background-color: var(--palette-color-3);
  color: var(--palette-color-4);
  border-color: var(--palette-color-4);;
}

footer {
  border-top: 4px solid var(--palette-color-1);
  border-right: 4px solid var(--palette-color-1);
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--palette-color-2);
  color: var(--palette-color-1);
  user-select: none;
}
